.section {
  @extend %grid;

  &:not(.home) {
    grid-template-rows: auto auto;
    padding: 6.4em 0 7.9em;
  }

  &__title {
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/4;

    @media #{$desktop--xs} {
      grid-column: 3/5;
    }

    h2 {
      @include font-size(36px);

      color: var(--color-primary);
      font-weight: 700;
      white-space: nowrap;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      position: relative;

      @media #{$tablet} {
        @include font-size(48px);
      }

      &::after {
        display: none;

        @media #{$tablet} {
          @include font-size(80px);

          content: attr(val);
          color: #bebbbb;
          font-weight: 700;
          opacity: 0.38;
          white-space: nowrap;
          text-transform: uppercase;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    p {
      margin-top: 2.9em;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-row: 2/3;
    grid-column: 2/4;
    padding-top: 5.7em;

    @media #{$desktop--xs} {
      grid-column: 2/6;
    }
  }
}
