.about {
  &__item {
    flex: 1 1 100%;
    margin-bottom: 4.3em;

    @media #{$desktop--xs} {
      flex: 1 1 45%;
      max-width: 45%;

      &:nth-last-of-type(-n+2) {
        margin-bottom: 0;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .period {
    @include font-size(30px, 41px);

    color: $font-color;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    @include font-size(30px, 41px);

    color: var(--color-primary);
    font-weight: 400;
    padding: 0.7em 0;
    margin: 0;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--color-primary);
      position: absolute;
      top: 0;
      left: 0;

      @media #{$tablet} {
        width: 50%;
      }
    }
  }
}
