include ../_section/section-title
include about-item

a#about
section.section.section--about.about
  +section-title('About me')
  .section__content
    +about-item(
      '2007 - 2010',
      'Student',
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in barker pretium mauris. Nullam lacus neque, eleifend eget ante et, efficitu tincidunt nibh. Vestibulum sit amet ligula interdum, facilisis massa ut, sagittis risus.'
    )
    +about-item(
      '2010 - 2014',
      'Student',
      'Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'
    )
    +about-item(
      '2014 - 2017',
      'Technology engineer',
      'Nam in gravida tellus. Ut non dolor rhoncus, aliquet quam id, pellentesque neque. Curabitur in barker pretium mauris. Nullam lacus neque, eleifend eget ante et, efficitu tincidunt nibh. Vestibulum sit amet ligula interdum, facilisis massa ut, sagittis risus. Aliquam efficitur mollis nisi non ullamcorper.'
    )
    +about-item(
      'May 2017 - Present',
      'Graphic designer',
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in barker pretium mauris. Nullam lacus neque, eleifend eget ante et, efficitu tincidunt nibh. Vestibulum sit amet ligula interdum, facilisis massa ut, sagittis risus.'
    )
