.contact {
  padding-bottom: 3.6rem;
  background-color: $contact-bg;

  p {
    color: $color-white;
  }

  .form {
    @media #{$desktop--xs} {
      &__field--name {
        grid-row: 1;
        grid-column: 1;
      }

      &__field--email {
        grid-row: 2;
        grid-column: 1;
      }

      &__field--message {
        grid-row: span 3;
        grid-column: 2;
      }

      &__controls {
        grid-row: 3;
        grid-column: 1;
      }
    }
  }
}
