:host {
  text-align: center;
}

.chart {
  display: inline-block;
  width: 100%;
}

.circle {
  position: relative;
}

p {
  color: var(--skills-chart-font-color, #666);
  font-size: 3.4rem;
  font-weight: 100;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  color: var(--color-primary);
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 41px;
  margin: 20px 0 0;
}

circle {
  stroke: var(--color-chart, #eee);
}

circle:nth-of-type(2n) {
  stroke: var(--color-primary, yellow);
}
