.home {
  background: url(img/home/img/bg.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative;

  &__content {
    @include font-size(20px, 25px);

    display: flex;
    justify-content: center;
    grid-column: 2/4;
    padding-top: 2.4em;
    padding-bottom: 5em;

    @media #{$desktop--xs} {
      @include font-size(36px, 40px);

      justify-content: flex-end;
      grid-column: 2/6;
    }
  }

  &__content-wrapper {
    text-align: center;

    @media #{$desktop--xs} {
      text-align: left;
    }

    p {
      color: var(--color-white);
      font-size: 1em;
      font-weight: 300;
      line-height: inherit;

      &:last-of-type {
        color: var(--color-primary);
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0.4em;
      }
    }

    button {
      font-size: 0.375em;
    }
  }

  &::after {
    @extend %icon--arrow;

    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@import '../header/header';
