.home {
  background-color: $contact-bg;
  background-image: url(img/home/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: -120px 0;
  background-size: cover;
  position: relative;

  @media #{$desktop--sm} {
    min-height: 95vh;
    background-position: 0 0;
  }

  &__content {
    @include font-size(20px, 25px);

    display: flex;
    justify-content: center;
    grid-column: 2/4;
    padding-top: 8rem;
    padding-bottom: 14rem;

    @media #{$desktop--xs} {
      @include font-size(48px, 54px);

      justify-content: flex-end;
      grid-column: 2/6;
    }
  }

  &__content-wrapper {
    text-align: center;

    @media #{$desktop--xs} {
      text-align: left;
    }

    p {
      color: $color-white;
      font-size: 1em;
      font-weight: 300;
      line-height: inherit;
      margin-bottom: 0.1em;

      &:last-of-type {
        color: var(--color-primary);
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    button {
      font-size: 0.375em;
    }
  }

  &::after {
    @extend %icon--arrow;

    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@import '../header/header';
