a#home
section.section.section--home.home
  .home__content
    .home__content-container
      p Welcome to Blue Shark
      p Nice to meet you
      a(href='#', target='_blank', rel='noopener noreferrer').btn More about me
