.portfolio {
  .section__content {
    @media #{$tablet} {
      justify-content: flex-start;
    }
  }

  &__item {
    text-align: center;
    flex: 1 1 auto;
    margin: 2rem 0 0;

    @media #{$tablet} {
      max-width: 47%;

      &:nth-of-type(odd) {
        margin-right: 2rem;
      }
    }

    @media #{$desktop--sm} {
      max-width: 30%;

      &:not(:nth-of-type(3n)) {
        margin-right: 2rem;
      }
    }

    @media #{$desktop--lg} {
      max-width: 18%;

      &:not(:nth-of-type(5n)) {
        margin-right: 2rem;
      }
    }

    h4 {
      @include font-size(18px);

      font-weight: 700;
      margin: 0 0 1.2em;
    }

    p {
      @include font-size(14px);

      font-weight: 500;
      font-style: italic;
    }

    figcaption {
      padding: 2.9rem 0;
      background-color: $portfolio-card-bg;
    }

    a {
      color: inherit;
      text-decoration: none;
      display: block;

      &:hover {
        filter: saturate(2);

        h4 {
          text-decoration: underline;
          text-decoration-skip: ink;
        }
      }

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 4px;
      }
    }
  }

  &__img {
    @include size(100%, auto);
  }
}
