.portfolio {
  &__item {
    color: #3d3d3d;
    text-align: center;
    flex: 1 1 100%;
    margin: 2rem 0 0;

    @media #{$tablet} {
      flex: 1 1 45%;
      max-width: 45%;
      margin-right: 2rem;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    @media #{$desktop--xs} {
      flex: 1 1 30%;
      max-width: 30%;
      margin-right: 2rem;

      &:nth-of-type(2n) {
        margin-right: 2rem;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    h4 {
      @include font-size(18px);

      font-weight: 700;
      margin: 0 0 1.2em;
    }

    p {
      @include font-size(14px);

      font-weight: 500;
      font-style: italic;
    }

    figcaption {
      padding: 2.9rem 0;
      background-color: #ededed;
    }

    a {
      color: inherit;
      text-decoration: none;
      display: block;

      &:hover {
        filter: saturate(2);

        h4 {
          text-decoration: underline;
          text-decoration-skip: ink;
        }
      }

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 4px;
      }
    }
  }

  &__img {
    @include size(100%, 19.6em);
  }
}
