include ../_section/section-title
include portfolio-item

a#portfolio
section.section.section--portfolio.portfolio
  +section-title(
    'Portfolio',
    'Curabitur in barker pretium mauris. Nullam lacus neque, eleifend eget ante et, efficitu tincidunt nibh. Vestibulum sit amet ligula interdum, sagittis risus.'
  )
  .section__content
    +portfolio-item(
      '1.jpg',
      'Business Card Mockup',
      'Product Mockup'
    )
    +portfolio-item(
      '2.jpg',
      'TheKing PSD Template',
      'Web Design'
    )
    +portfolio-item(
      '3.jpg',
      'Awesome Website',
      'Web Design'
    )
    +portfolio-item(
      '4.jpg',
      'X-Game War Design',
      'Graphic Design'
    )
    +portfolio-item(
      '5.jpg',
      'T-Shirt Mockup',
      'Product Mockup'
    )
    +portfolio-item(
      '6.jpg',
      'THE CAT LOGO',
      'Branding'
    )
    +portfolio-item(
      '4.jpg',
      'X-Game War Design',
      'Graphic Design'
    )
