include socials-item

footer.footer
  p © Copyright 2017 Behance/d4ngmb
  ul.socials
    +socials-item('twitter', '#')
    +socials-item('facebook', '#')
    +socials-item('pinterest', '#')
    +socials-item('google', '#')
