@font-face {
  font-family: 'Allema';
  src:
    local(Allema),
    url('fonts/Allema.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src:
    local(LatoLatinBold),
    local(LatoBold),
    local('Lato Latin Bold'),
    local('Lato Bold'),
    url('fonts/LatoLatin-Bold.woff2') format('woff2'),
    url('fonts/LatoLatin-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src:
    local(LatoLatinHairline),
    local(LatoHairline),
    local('Lato Latin Hairline'),
    local('Lato Hairline'),
    url('fonts/LatoLatin-Hairline.woff2') format('woff2'),
    url('fonts/LatoLatin-Hairline.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src:
    local(LatoLatinLight),
    local(LatoLight),
    local('Lato Latin Light'),
    local('Lato Light'),
    url('fonts/LatoLatin-Light.woff2') format('woff2'),
    url('fonts/LatoLatin-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src:
    local(LatoLatinMediumItalic),
    local(LatoMediumItalic),
    local('Lato Latin MediumItalic'),
    local('Lato MediumItalic'),
    url('fonts/LatoLatin-MediumItalic.woff2') format('woff2'),
    url('fonts/LatoLatin-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src:
    local(LatoLatinRegular),
    local(LatoRegular),
    local('Lato Latin Regular'),
    local('Lato Regular'),
    url('fonts/LatoLatin-Regular.woff2') format('woff2'),
    url('fonts/LatoLatin-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
