.input {
  @mixin _placeholder($color, $weight: normal, $style: normal) {
    &::-webkit-input-placeholder {
      color: $color;
      font-weight: $weight;
      font-style: $style;
    }

    &::-moz-placeholder {
      color: $color;
      font-weight: $weight;
      font-style: $style;
    }

    &:-ms-input-placeholder {
      color: $color;
      font-weight: $weight;
      font-style: $style;
    }
  }

  @include font-size(14px, 41px);
  @include _placeholder(#696767, 700);

  color: $font-color;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 0 2.1em;

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}
