html {
  color: $font-color;
  font-family: Lato, Arial, sans-serif;
  font-size: $font-size;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  &.in-transition {
    transition: transform 1000ms ease;
  }
}

main {
  position: relative;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

p {
  @include font-size(14px, 24px);

  color: $font-color;
  font-weight: 400;
  margin: 0;
}
