{{#sprites}}
%icon--{{name}} {
  content: '';
  display: inline-block;
  width: {{px.width}};
  height: {{px.height}};
  vertical-align: middle;
  background: url({{{escaped_image}}}) no-repeat {{px.offset_x}} {{px.offset_y}};
  position: absolute;
}
{{/sprites}}
