%icon--facebook {
  content: '';
  display: inline-block;
  width: 10px;
  height: 18px;
  vertical-align: middle;
  background: url(sprite.png) no-repeat 0px 0px;
  position: absolute;
}
%icon--google {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url(sprite.png) no-repeat -30px 0px;
  position: absolute;
}
%icon--pinterest {
  content: '';
  display: inline-block;
  width: 16px;
  height: 20px;
  vertical-align: middle;
  background: url(sprite.png) no-repeat -66px 0px;
  position: absolute;
}
%icon--twitter {
  content: '';
  display: inline-block;
  width: 18px;
  height: 15px;
  vertical-align: middle;
  background: url(sprite.png) no-repeat -102px 0px;
  position: absolute;
}
%icon--arrow {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: url(sprite.png) no-repeat -140px 0px;
  position: absolute;
}
