{{#sprites}}
.icon--{{name}} {
  content: '';
  width: {{px.width}};
  height: {{px.height}};
  display: inline-block;
  vertical-align: middle;
  background: url({{{escaped_image}}}) no-repeat {{px.offset_x}} {{px.offset_y}};
}
{{/sprites}}
