h1 {
  @include font-size(30px);

  font-family: Allema;
  margin: 0;

  @media #{$tablet} {
    @include font-size(39px);
  }
}

h2 {
  @include font-size(48px);

  color: var(--color-primary);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

p {
  @include font-size(14px, 24px);

  color: $font-color;
  font-weight: 400;
  margin: 0;
}

