$font-color: #333030;
$font-size: 14px;
$line-height: 1.7;

$header-height: 135px;

$portfolio-card-bg: #ededed;
$contact-bg: #484646;
$skills-bg: #ececec;

$color-white: #fff;

$bp-mobile: 23em; // 320px
$bp-tablet: 34em; // 476px
$bp-desktop--xs: 57em; // 798px
$bp-desktop--sm: 73em; // 1022p
$bp-desktop--md: 86em; // 1204px
$bp-desktop--lg: 100em; // 1400px

$tablet: (min-width: $bp-tablet);
$desktop--xs: (min-width: $bp-desktop--xs);
$desktop--sm: (min-width: $bp-desktop--sm);
$desktop--md: (min-width: $bp-desktop--md);
$desktop--lg: (min-width: $bp-desktop--lg);

:root {
  --color-primary: #1976d2;
  --nav-active-border-width: 0;
  --nav-toggle-icon-top: 60px;
  --nav-toggle-icon-width: 35px;
  --nav-toggle-icon-height: 25px;
  --nav-toggle-line-height: 2px;
  --nav-tablet-min-width: 200px;
  --nav-mobile-font-color: $font-color;
  --nav-mobile-bg-color: #fff;
  --skills-chart-font-color: #636363;
  --skills-chart-color: #eee;
}
