$font-size:      14px;
$font-color:     #333030;
$line-height:    1.7;

$header-height:  135px;

$tablet:         (min-width: 34em);
$desktop--xs:    (min-width: 57em);
$desktop--sm:    (min-width: 73em);
$desktop--md:    (min-width: 86em);
$desktop--lg:    (min-width: 100em);

:root {
  --color-primary: #00aeef;
  --color-white: #f6eeee;

  --nav-active-border-width: 0;
  --nav-toggle-icon-top: 60px;
  --nav-toggle-icon-width: 35px;
  --nav-toggle-icon-height: 25px;
  --nav-toggle-line-height: 2px;
  --nav-tablet-min-width: 200px;
  --nav-mobile-font-color: $font-color;
  --nav-mobile-bg-color: #fff;
}
