include ../_section/section-title
include skills-item

a#skills
section.section.section--skills.skills
  +section-title(
    'Skills',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in barker pretium mauris. Nullam lacus neque, eleifend eget ante et, efficitu tincidunt nibh. Vestibulum sit amet ligula interdum, facilisis massa ut, sagittis risus'
  )
  .section__content
    +skills-item(
      'Graphic design',
      '90%'
    )
    +skills-item(
      'Html / CSS',
      '75%'
    )
    +skills-item(
      'Web design',
      '85%'
    )
    +skills-item(
      'UI / UX',
      '80%'
    )
