.skills {
  background-color: $skills-bg;

  x-chart {
    --chart-min-size: 230px;
    --chart-color-stroke: var(--color-primary);
    --chart-title-color: var(--color-primary);
    --chart-title-margin-top: 20px;

    flex: 0 1;
    margin: 2rem 0.6rem;
  }
}
