include ../_section/section-title

a#skills
section.section.section--skills.skills
  +section-title(
    'Skills',
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in barker pretium mauris. Nullam lacus neque, eleifend eget ante et, efficitu tincidunt nibh. Vestibulum sit amet ligula interdum, facilisis massa ut, sagittis risus'
  )
  .section__content
    <x-chart percent='90%'>Graphic design</x-chart>
    <x-chart percent='75%'>Html / CSS</x-chart>
    <x-chart percent='85%'>Web design</x-chart>
    <x-chart percent='80%'>UI / UX</x-chart>
