.header {
  @extend %grid;

  grid-column: span 4;

  @media #{$desktop--xs} {
    grid-column: span 6;
  }

  &__logo {
    color: var(--color-primary);
    grid-column: 2/3;

    @media #{$desktop--xs} {
      grid-column: 2/4;
    }

    h1 {
      @include font-size(30px);

      font-family: Allema;
      white-space: nowrap;
      line-height: $header-height;
      margin: 0;

      @media #{$desktop--xs} {
        @include font-size(39px);

        line-height: $header-height;
      }

      span {
        color: var(--color-white);
      }
    }
  }

  &__nav {
    --border-width: 0;

    color: var(--color-white);
    line-height: $header-height;
    text-align: right;
    grid-column: 3/4;
    position: relative;

    @media #{$desktop--xs} {
      grid-column: 4/6;
    }
  }
}
