header.header
  .header__logo
    h1 Blue
      span
        |
        | Shark
  .header__nav
    x-navigation
      x-navigation-item(value='home', slot='item', selected) Home
      x-navigation-item(value='about', slot='item') About
      x-navigation-item(value='skills', slot='item') Skills
      x-navigation-item(value='portfolio', slot='item') Portfolio
      x-navigation-item(value='contact', slot='item') Contact

