.header {
  @extend %grid;

  grid-column: span 4;
  width: 100%;
  position: absolute;
  z-index: 999;

  @media #{$desktop--xs} {
    grid-column: span 6;
  }

  &__logo {
    color: var(--color-primary);
    grid-column: 2/3;

    h1 {
      @include font-size(30px);

      font-family: Allema;
      line-height: $header-height;
      white-space: nowrap;
      margin: 0;

      @media #{$desktop--xs} {
        @include font-size(39px);

        line-height: $header-height;
      }

      span {
        color: $color-white;
      }
    }
  }

  &__nav {
    color: $color-white;
    line-height: $header-height;
    text-align: right;
    grid-column: 3/4;
    height: $header-height;
    position: relative;

    @media #{$desktop--xs} {
      grid-column: 3/6;
    }

    x-navigation {
      --nav-font-color: $color-white;
      --nav-current-color: var(--color-primary);
      --nav-current-border-width: 0;
      --nav-mobile-top: 50%;
      --nav-mobile-right: 0;
      --nav-mobile-left: initial;
      --nav-toggle-margins: 0 0 0 auto;
      --nav-mobile-bg: $color-white;
      --nav-mobile-font-color: $font-color;
      --nav-toggle-color: var(--color-primary);
    }
  }
}
