header.header
  .header__logo
    h1 Blue
      span
        |
        | Shark
  .header__nav
    x-navigation
      x-navigation-item(value='home', selected) Home
      x-navigation-item(value='about') About
      x-navigation-item(value='skills') Skills
      x-navigation-item(value='portfolio') Portfolio
      x-navigation-item(value='contact') Contact

